main {
  overflow-y: auto;
  width: 100%;
}

main #top-main {
  background-color: var(--top-main-color);
  color: var(--bs-white);
}

main #top-main .ms-title {
  font-size: 1.875rem;
  font-weight: 500;
}

main #top-main .rounded-pill {
  background-color: #165bba;
}

main #top-main .fa-solid.fa-angles-right {
  font-size: .875rem;
}

main #bottom-main h2 {
  font-size: 1.5625rem;
}

main #bottom-main strong {
  font-weight: 500;
}

main #bottom-main table th:not(:first-child),
main #bottom-main table td:not(:first-child) {
  text-align: center;
}

main #bottom-main table img {
  width: 1.875rem;
}

.offcanvas.offcanvas-end {
  width: 100%;
}

/*
==================
Responsive
==================
*/

@media screen and (min-width: 992px) {
  .offcanvas.offcanvas-end {
    width: 50%;
  }
}