#sidebar {
  background-color: var(--sidebar-color);
  color: var(--bs-white);
}

/*
==================
Responsive
==================
*/

@media screen and (min-width: 992px) {
  #sidebar {
    width: 9.375rem;
  }

  #sidebar ul .fa-solid {
    width: 30px;
  }
}